<%- include('./includes/nav') %>

<div class="container">
    <div style="margin-top:50px " class="row">
        <div  class="col-lg-1 "></div>

        <div  class="col-lg-3 shadow m-3">
          <h2>Issued Books</h2>
          <p><a style="width:100%" class="btn btn-secondary" href="issued_books">View all »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 shadow m-3">  
          <h2>Return Pending</h2>
          <p><a style="width:100%" class="btn btn-secondary" href="returnbooks">View all »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 shadow m-3">  
          <h2>Request Book</h2>
          <p ><a style="width:100%" class="btn btn-secondary" href="requested_books">View all »</a></p>
        </div>
        <div  class="col-lg-1 "></div>
      </div>

</div>



<%- include('./includes/footer') %>